
<app-nav-bar></app-nav-bar>

<router-outlet></router-outlet>
<notifier-container></notifier-container>


<div id="content"  #content style="height:841px; width:596px; margin-left:auto; margin-right:auto; border: 2px solid red; font-size: xx-small;text-transform: uppercase;
font-weight: bold;">
<img class="mb-1" width="100%" height="100px" src="assets/img/scenario entite.jpeg" alt="">
<div class="row" style="width: 100%;padding: 0; margin: 0;">
  <div class="col-7">
    
      <div class="card"  style="border: solid #25a8e0 2px;">
          <div class="m-0 p-0 card-body align-items-center text-center">
               <span style="letter-spacing: 4px;">contrat de location</span>
          </div>
      </div>
  
  </div>
  <div class="col" >
    <div class="card" style="border: solid #25a8e0 2px;">
      <div class="m-0 p-0 card-body align-items-center text-center">
          <b>N° Contrat : </b> <span class="text-muted"> blablaa blablaaa</span>
      </div>
  </div>
  </div>
</div>
</div>
  <button (click)="generatePdf()">
    new
  </button>