
<app-nav-bar></app-nav-bar>

<router-outlet></router-outlet>
<notifier-container></notifier-container>
<!-- 

<div id="test" style="height:297mm; width:210mm; margin-left:auto; margin-right:auto;">
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus dolores earum mollitia, facere ex vitae iure sapiente labore distinctio impedit ad optio inventore et sequi voluptatum cum? Libero, veniam? Repudiandae.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit aliquam laboriosam ullam impedit maiores sunt qui corporis accusantium, sequi optio quisquam, cupiditate quaerat in non. Vitae magnam recusandae ea odit?
</p>
<img src="./assets/img/carplan.jpeg" alt="">
</div>

<button [useExistingCss]="true"   printSectionId="test" printTitle="{{title}}"  ngxPrint id="test-print">
    print to pdf
  </button> -->